body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 20px;
}

section{
    max-width: 85%;
    border-radius: 10px;
}
.Quem-sou-eu{
    color: #333;
  text-align: center;
  background-color: rgba(9, 252, 159, 0.856);
}

.passado{
  color: #333;
  text-align: center;
  background-color: rgba(252, 252, 9, 0.651);
}


p {
  font-size: 16px;
  line-height: 1.5;
  color: #555;
}

.presente{
    background-color: rgba(7, 247, 39, 0.781);
    text-align: center;
}

.futuro{
    background-color: rgba(248, 204, 6, 0.788);
    text-align: center;
}